.select-mp-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  .selected-value-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    background-color: #e1e1e1;
    border: 1px solid #e1e1e1;
    .selected-value-item {
      padding: 10px;
      background-color: white;
    }
  }
}

.dialog-content-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .wxa-item-container-scrollbar-header {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .el-button {
      margin: 0;
    }
  }

  .filter-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    .total-count {
      color: rgba(29, 33, 41, 0.55);
      font-family: "Source Han Sans SC";
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
  }

  .wxa-item-container-scrollbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
    background-color: #e1e1e1;
    border: 1px solid #e1e1e1;
    .wxa-item-container {
      background-color: white;
      cursor: pointer;
      padding: 10px;

      &.selected {
        background-color: #eaeaea;
      }

      .wxa-icon-selected {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
      }

      .star-icon {
        width: 16px;
        height: 16px;
      }
    }
  }
}
