.index {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f7f9fb;

  .tabs {
    background-color: white;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.03);
    --color: #666666;
    --on-color: #409eff;
    --background-color: #ffffff;
    --on-background-color: #f7f7f7;
    --font-size: 14px;
    --padding: 8px 12px;
  }

  .content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 0;
    box-sizing: border-box;
    gap: 10px;
    min-height: 0;

    .figma-test {
      flex: 1;
      min-height: 0;
    }
  }
}
