.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  .header {
    height: 40px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }
  .content {
    flex: 1;
    display: flex;
    min-height: 0;

    .left {
      width: 200px;
      border-right: 1px solid #e0e0e0;
      height: 100%;
      display: flex;
      flex-direction: column;

      .left-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #e0e0e0;
      }
      .left-content {
        flex: 1;
        min-height: 0;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        .left-content-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          border-bottom: 1px solid #e0e0e0;
          cursor: pointer;
          &.selected {
            background-color: #409EFF;
            font-weight: bold;
            color: #fff;
          }
        }
      }
    }
    .center {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100%;
      min-width: 0;
    }
  }
}