.wxa-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  background: #e2eafd99;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 20px;
  width: 500px;
  .controller {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .wxa-item-container {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .wxa-item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 8px 8px 8px 12px;
      border-radius: 10px;
      background: #fff;

      .wxa-info-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
        .wxa-icon {
          width: 40px;
          height: 40px;
          border-radius: 4px;
        }

        .wxa-info {
          display: flex;
          flex-direction: column;
          .wxa-name {
            color: #1d2129;
            font-family: "Source Han Sans SC";
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
          }
          .wxa-appid,
          .wxa-username {
            color: #86909c;
            font-family: "Source Han Sans SC";
            font-size: 10px;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
  }
}
