*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --el-color-primary: #00b240;
  --el-color-primary-light-3: rgb(153, 212, 178);
  --el-color-primary-light-5: rgb(187, 221, 204);
  --el-color-primary-light-7: rgb(204, 235, 221);
  --el-color-primary-light-8: rgb(221, 248, 235);
  --el-color-primary-light-9: rgb(238, 251, 244);
  --el-color-primary-dark-2: rgb(34, 102, 77);
}
