.wxa-item-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  min-width: 0;

  .wxa-icon {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    flex-shrink: 0;
  }

  .wxa-info {
    display: flex;
    flex-direction: column;
    line-height: normal;
    min-width: 0;
    flex: 1;

    .wxa-name-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      min-width: 0;
    }

    .wxa-name {
      flex: 1;
      min-width: 0;
      display: flex;
      align-items: center;
      color: #1d2129;
      font-family: "Source Han Sans SC";
      font-size: 14px;
      font-weight: 400;
      line-height: normal;

      .wxa-name-text-wrap {
        display: block;
        min-width: 0;
        max-width: 100%;
        overflow: hidden;
      }

      .wxa-name-text {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .wxa-extra {
      flex-shrink: 0;
      display: flex;
      align-items: center;
    }

    .wxa-appid,
    .wxa-username {
      color: #86909c;
      font-family: "Source Han Sans SC";
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
