.worker-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  box-sizing: border-box;
  gap: 10px;

  .content-scroll-container {
    overflow-x: auto;
    flex: 1;
    min-width: 0;

    ::v-deep(.el-tabs__header) {
      padding: 0 10px;
    }
  }

  .custom-tabs-label {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 20px;
      height: 20px;
    }
  }
}
