.worker-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  background: rgba(226, 234, 253, 0.6);
  border-radius: 20px;
  overflow: hidden;

  .worker-list-content-scrollbar {
    flex: 1;
    min-height: 0;
  }

  .worker-list-content {
    display: flex;
    flex-direction: column;
    .worker-item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      cursor: pointer;
      padding: 10px;
      box-sizing: border-box;
      border-bottom: 1px solid #e1e1e1;
      color: #1d2129;

      &.selected {
        background-color: #00b240;
        color: #fff;

        .wa-info {
          .span {
            color: #fff;
          }
        }
        .rq {
          .text {
            color: #fff;
          }
        }
      }

      .info {
        display: flex;
        flex-direction: row;
        gap: 10px;
        .icon {
          width: 20px;
          height: 20px;
        }
        .name {
          font-size: 14px;
          font-weight: bold;
        }
      }
      .rq {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .text {
          font-size: 12px;
          color: #86909c;
        }
        .icon {
          width: 100%;
        }
      }
      .wa-info {
        display: flex;
        flex-direction: row;
        gap: 10px;
        .span {
          font-size: 12px;
          color: #86909c;
        }
      }
    }
  }
  .controller {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .add-worker-button {
      width: 100%;
      cursor: pointer;
      padding: 10px;
      box-sizing: border-box;
      background-color: #00b240;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      &:hover {
        background-color: #009933;
      }
    }
  }
}
