.files-upload-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  .files-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .files-item {
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding: 10px;
      border: 1px solid #b0b0b0;
      border-radius: 5px;
      align-items: center;
      justify-content: center;

      .file-image {
        width: 100px;
        height: 100px;
      }
      .file-video {
        width: 200px;
        height: 200px;
      }
      .file-name {
        flex: 1;
      }
    }
  }
}
